body {
background-color: black;
    color: #9fff00;
    font-family: Arial, sans-serif;
    margin: 0;
}
p{
    color: greenyellow;
}

h1{
    color: greenyellow;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 10px 20px;
    position: sticky;
    top: 0;
}
.navbar .logo {
    font-weight: bold;
    font-size: 20px;
    color: #9fff00;
}
.navbar .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #9fff00;
    font-weight: bold;
}
.navbar .nav-links a:hover {
    text-decoration: underline;
}
.content {
    padding: 20px;
}
button {
  background-color: #9fff00;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: #7acc00;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}
button:active {
  background-color: #5a9100;
  transform: scale(0.98);
}
